@font-face
{
    font-family: myFont;
    src: url('Boogaloo-Regular.ttf');
}

body
{
   background-color: floralwhite;
    margin: 0;
    padding: 0;
    font-family: myFont;
    font-size: 19px;
}

.adjust{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 42px;
    width: 10px;
    background-color: bisque;
}

.adjust2{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 42px;
    width: 10px;
    background-color: bisque;
}

header{
    background-color: bisque;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    transform: translateY(-8px);
}

h2{
    position: absolute;
    top: -10px;
    left: 47%;
    color:brown;
}

.bg{
    position: absolute;
    top: 15%;
    left: 30%;
    width: 150px;
    height: 150px;
    background-image: url('coin.svg');
    opacity: 0.1;
    transform: rotateZ(-45deg);
}

.bg2{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 150px;
    height: 150px;
    background-image: url('gold.svg');
    opacity: 0.2;
    transform: rotateZ(30deg);
}

.bg3{
    position: absolute;
    top: 60%;
    left: 5%;
    width: 150px;
    height: 150px;
    background-image: url('accounting.svg');
    opacity: 0.2;
}

.bg4{
    position: absolute;
    top: 10%;
    left: 60%;
    width: 150px;
    height: 150px;
    background-image: url('money.svg');
    opacity: 0.2;
    transform: rotateZ(-30deg);
}

.bg5{
    position: absolute;
    top: 45%;
    left: 55%;
    width: 150px;
    height: 150px;
    background-image: url('mastercard.svg');
    opacity: 0.3;
    transform: rotateZ(30deg);
}

.bg6{
    position: absolute;
    top: 55%;
    left: 25%;
    width: 150px;
    height: 150px;
    background-image: url('money-bag.svg');
    opacity: 0.2;
    transform: rotateZ(45deg);
}

.bg7{
    position: absolute;
    top: 55%;
    left: 75%;
    width: 150px;
    height: 150px;
    background-image: url('india.svg');
    opacity: 0.2;
    transform: rotateZ(30deg);
}

.bg8{
    position: absolute;
    top: 15%;
    left: 75%;
    width: 150px;
    height: 150px;
    background-image: url('pay.svg');
    opacity: 0.2;
    transform: rotateZ(-45deg);
}

.bg9{
    position: absolute;
    top: 70%;
    left: 45%;
    width: 150px;
    height: 150px;
    background-image: url('profit.svg');
    opacity: 0.2;
    transform: rotateZ(0deg);
}

.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
    padding: 40px;
    border: 5px solid;
    border-color: black;
    border-radius: 20px;
    background-color: floralwhite;
    opacity: 0.5;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
/*    text-align: center;*/
}

.loginBox .inputBox
{
    position: relative;
/*    left: 20%;*/
    margin: 60px 20px;
}


.loginBox .name input
{
    margin-left: 50px;
    width: auto;
}

.loginBox .ownership select
{
    margin-left: 25px;
    width: auto;
}

.loginBox .annual_income input
{
/*    margin-left: 50px;*/
    width: auto;
}

.loginBox .loan_amount input
{
    margin-left: 10px;
    width: auto;
}

.loginBox .term select
{
    margin-left: 56px;
    width: auto;
}

.loginBox .interest_rate input
{
    margin-left: 10px;
    width: auto;
}

.loginBox .DTI input
{
    margin-left: 63px;
    width: auto;
}

.loginBox .total_payment input
{
    margin-left: 5px;
    width: auto;
}

.loginBox input[type="submit"]
{
    position: absolute;
    left: 40%;
    height: 50px;
    width: 100px;
    border: 2px solid black 10px;
    border-radius: 20px;
    outline: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
    background: #000000;
}
